[submodule ".emacs.d/lib/coding-standards"]
        path = .emacs.d/lib/coding-standards
        url = git@github.com:burstmarketing/coding-standards.git
[submodule ".emacs.d/lib/magit"]
        path = .emacs.d/lib/magit
        url = git://github.com/magit/magit.git