[submodule ".emacs.d/lib/multiple-cursors"]
	path = .emacs.d/lib/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/lib/expand-region"]
	path = .emacs.d/lib/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/lib/jquery-doc"]
	path = .emacs.d/lib/jquery-doc
	url = git://github.com/ananthakumaran/jquery-doc.el.git
[submodule ".emacs.d/lib/modes/php-mode"]
	path = .emacs.d/lib/modes/php-mode
	url = git://github.com/ejmr/php-mode.git
[submodule ".emacs.d/lib/yasnippet"]
	path = .emacs.d/lib/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
