[submodule ".emacs.d/lib/mark-multiple"]
	path = .emacs.d/lib/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule ".emacs.d/lib/expand-region"]
	path = .emacs.d/lib/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/lib/jquery-doc"]
	path = .emacs.d/lib/jquery-doc
	url = https://github.com/ananthakumaran/jquery-doc.el.git
[submodule ".emacs.d/lib/modes/php/magento"]
	path = .emacs.d/lib/modes/php/magento
	url = git@github.com:asdasDan/mage.el.git
