<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://openbox.org/
                                  file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="Openbox 3">
    <item label="Terminal">
      <action name="Execute">
	<command>
	  terminator
	</command>
      </action>
    </item>
    <item label="Web Browser">
      <action name="Execute">
	<command>
	  google-chrome
	</command>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
	<command>
	  caja
	</command>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
	<command>
	  emacsclient -c
	</command>
      </action>
    </item>
    <item label="Media Player">
      <action name="Execute">
	<command>
	  mpv
	</command>
      </action>
    </item>
  </menu>
</openbox_menu>
